.Contact{
    width: 100%;
    /* height: 700px; */
    min-height: 650px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
    background: linear-gradient(to bottom, 
              white 47% ,
                var(--moon-yellow) 47%,
                var(--moon-yellow) 84.8%, 
                white 84.8%);
    margin-bottom: 70px;
}


.Contact__container{
    padding: 0px 5em;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 1200px;
    column-gap: 50px;
}



.Contact__container__form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.wrapper{
    padding: 10px;
    width: 628px;
}

.Contact__form__top {
    text-align: center;
}

.Contact__form__top p:first-child{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.Contact__form__top p:last-child{
    font-size: 16px;
    color: #575576;
    font-weight: 400;
}

.Contact__form__content {
    padding: 20px;
    border: 2.5px solid #EDEDED;
    border-radius: 10px;
    box-shadow: 4px 10px 20px rgba(186,186,186,0.25);
    background: var(--white);
}

.Contact__image{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.Contact__image img {
    height: 500px;
}


.Contact__fields_row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
    margin-bottom: var(--spacer);
}

@media (min-width: 320px) and (max-width: 479px){
    .Contact{
        height: auto;
        background: var(--white);
    }

    .Contact__container{
        padding: 0px 2em;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .wrapper{
        width: 100%;
    }


    .Contact__form__top p:first-child{
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        text-transform: uppercase;
    }

    .Contact__form__top p:last-child{
        font-size: 14px;
        width: 250px;
        margin: 10px auto;
        color: #575576;
        font-weight: 400;
    }

    .Contact__image {
        grid-row: 1;
        display: none;
    }

    .Contact__image img {
        height: 200px;
        width: 200px;
    }

    .Contact__fields_row{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        column-gap: 20px;
        row-gap: 24px;
    }
}

@media (min-width:480px) and (max-width: 768px){
    .Contact{
        height: auto;
        background: var(--white);
    }
    .Contact__container{
        padding: 0px 2em;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .wrapper{
        width: 100%;
    }

    .Contact__image {
        grid-row: 1;
        display: none;
    }

    .Contact__image img {
        height: 300px;
        width: 300px;
    }
}

  
@media (min-width: 769px) and (max-width: 1024px){
    .Contact{
        height: auto;
        background: var(--white);
    }

    .Contact__container{
        padding: 0px 5em;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .wrapper{
        width: 100%;
    }

    .Contact__image {
        grid-row: 1;
        display: none;
    }

    .Contact__image img {
        height: 300px;
    }
}