.Ubication {
    width: 100%;
    height: 500px;
    min-height: 500px;
    position: relative;
    padding-top: 70px;
    margin-bottom: 70px;
}

.Ubication__container{
    padding: 0px 5em;
    height: 100%;
}

.List__container{
    position: absolute;
    background: transparent;
    width: 400px;
    padding-left: 5em;
    padding-top: 50px;
    height: 100%;
    padding-bottom: 50px;
}

.List__offices_container {
    background: white;
    width: 100%;
    height: 100%;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

@media (min-width: 320px) and (max-width: 479px){
    .Ubication{
        height: 650px;
    }
    .Ubication__container{
        padding: 0px 2em;
        height: 100%;
    }
    .List__container{
        padding-left: 2em;
        padding-top:0;
        top: 12%;
        height: auto;
        width: 330px;
    }
    .List__offices_container {
        padding-bottom: 10px;
    }
}

@media (min-width:480px) and (max-width: 768px){

    .Ubication{
        height: 650px;
    }
    .Ubication__container{
        padding: 0px 2em;
        height: 100%;
    }
    .List__container{
        padding-left: 2em;
        height: auto;
        padding-top:0;
        top: 12%;
        width: 400px;
    }
    .List__offices_container {
        padding-bottom: 10px;
    }
}
  
@media (min-width: 769px) and (max-width: 1024px){
    .Ubicatiotn__container{
        padding: 0px 5em;
        height: 100%;
    }

    .List__container{
        padding-left: 2em;
        height: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        width: 350px;
    }
}