.About {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
    margin-bottom: 70px;
}

.About__information {
    width: 100%;
}

.About__information p:first-child{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 0;
    color: var(--ship-grey);
}

.About__information p:not(:first-child){
    color: var(--ship-grey);
    font-size: 16px;
    margin-bottom: 30px;
}

.About__container{
        padding: 0px 5em;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 50px;
        row-gap: 50px;
        max-width: 1200px;
}

.flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex_center > img {
    width: 350px;
}

.left__card {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right__card {
    width: 70%;
    display: block;
    text-align: start;
    padding: 0 10px;
    height: 100%;
}

.right__card p:first-child{
    color: var(--ship-grey);
    font-weight: 700;
    font-size: 20px;
    margin:0;
}

.right__card p:last-child{
    color: var(--ship-grey);
    font-weight: 400;
    margin-top: 10px;
}


@media (max-width: 768px){

    .About {
        height: auto;
        padding-top: 70px;
    }
    .About__container{
        padding: 0px 2em;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 30px;
    }

    .left__card > img {
        height: 80px;
        width: 80px;
    }

    

    .flex_center:first-child {
        display: none;
    }


    .About__information p:first-child{
        font-weight: bold;
        font-size: 28px;
        margin-bottom: 0;
        color: var(--charcoal);
    }

    .flex_center > img {
        width: 400px;
    }
}

  
@media (min-width: 769px) and (max-width: 1024px){
    .About {
        height: auto;
        min-height: 500px;
    }

    .About__container{
        padding: 0px 2em;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 20px;
    }

    .About__container > img{
        width: 350px;
    }

    .flex_center > img {
        width: 350px;
    }
}