.Hero {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Hero__container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding-top: 70px;
    max-width: 1200px;
    width: 100%;
}

.Hero__images {
  width: 100%;
  height: 100%;
  position: relative;
  background: var(--secondary);
}

.Hero__images > div {
  position: relative;
  height: 100%;
}

.Hero__image {
    height: 100%;
    width: 100%;
    padding-top: 50px;
}

.Hero__image img {
    width: 100%;
    height: 100%;
    width: 300px;
    position: relative;
    top:0;
    z-index: 10;
}

.Hero__logo_text {
  position: absolute;
  top: 3em;
  right: 1.5em;
}

.Hero__logo_text img {
  width: 200px;
}

.Hero__logo_text p {
  margin : 0;
  text-align: end;
  color: var(--ship-grey);
  font-weight: bold;
  font-size: 13px;
}
.Hero__information {
    background: var(--ship-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Hero__information button {
  background: var(--secondary);
  color: var(--ship-grey);
  font-weight: bold;
  box-shadow: 1px 4px 20px rgba(128,128,128,0.1);
}

.Hero__information_text {
    margin-bottom: 40px;
    margin-top: 10px;
}

.Hero__information_text p {
  color: #000;
}

.Hero__information p {
    font-size: 20px;
    color: var(--white);
    font-weight: 400;
}

.Hero__wrapper_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hero__information_logo_text{
  display: none;
}

@media (min-width: 768px){

  .Hero {
    background: var(--secondary);
  }
  .Hero__container {
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px;
    padding-bottom: 0;
    padding-left: 2em;
    padding-right: 2em;
  }

  .Hero__information {
    background: none;
    flex-direction: column;
    padding-top: 30px;
    justify-content: start;
    padding-bottom: 30px;
    align-items: flex-start;
  }

  .Hero__information p {
    font-size: 22px;
    color: #FFFBF1 ;
    font-weight: 500;
}

  .Hero__information_logo_text{
    display: block;
  }

  .Hero__information_logo_text img{
    width: 100%;
    max-width: 467px;
    height: 155px;
  }

  .Hero__information_logo_text p {
    color: var(--ship-grey);
    font-weight: bold;
    font-size: 30px;
    text-align: start;
    margin: 0;
  }

  .Hero__information_text {
    justify-content: start;
    text-align: start;
    max-width: 470px;
    margin-top: 40px;
  }

  .Hero__information_text p{
    margin: 0;
    font-weight: 500;
    color: #FFFBF1;
  }

  .Hero__information button {
    background: var(--white);
  }

  .Hero__image {
    display: flex;
    justify-content: center;
  }

  .Hero__logo_text {
    display: none;
  }

  .Hero__image img{
    width: 350px;
  }

  .Hero__wrapper_button {
    justify-content: start;
    margin-top: 20px;
  }
}

@media (min-width:1024px) {
  .Hero__image img {
    width: 500px;
  }

  .Hero__container {
    padding-left: 5em;
    padding-right: 5em;
  }

  .Hero__information p {
    font-size: 28px;
}

  .Hero__information_logo_text p {
    font-size: 40px;
  }

  .Hero__information_logo_text img{
    width: 100%;
    max-width: 467px;
    height: 155px;
  }
}