.Steps {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    margin-bottom: 70px;
}

.Steps__container {
    height: 100%;
    max-width: 400px;
    padding: 0px 2em;
    margin: 0 auto;
}

.Steps  p{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: var(--secondary);
    max-width: 350px;
    margin-top: 0px;
    margin-bottom: 50px;
}


.Step__content > div {
    display: flex;
    column-gap: 45px;
    align-items: center;
}

.Step__content p {
    color: var(--ship-grey);
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    text-align :start;
}

.Step__content img {
    width: 78px;
    height: 96px;
}

.Step__container:last-child .Step__icon{
    display: none;
}
.Step__icon {
    display: flex;
    justify-content: flex-end;
    margin-top:20px;
    margin-bottom: 20px;
}

.Step__icon > div {
    width: calc(100% - 123px);
    display: flex;
    justify-content: center;
}

.Step__icon > div i {
    color: var(--secondary);
    font-size: 50px;
}

@media (min-width: 768px){
    .Steps  p {
        max-width: 700px;
        font-size: 36px;
    }

    .Step__content p {
        color: var(--ship-grey);
        font-size: 16px;
        font-weight: 500;
        margin: 0;
        text-align :start;
    }
    
    .Steps__container {
        display: flex;
        max-width: 1200px;
    }

    .Step__container {
        display: flex;
    }

    .Step__container .Step__content {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        align-items: center;
    }

    .Step__content img {
        width: 98px;
        height: 120px;
    }

    .Step__content > div {
        display: block;
        max-width: 180px;
        height: 100%;
    }

    .Step__content_information {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        height: calc( 100% - 120px);
    }

    .Step__content p {
        text-align :center;
    }

    .Step__icon {
        display: flex;
        height: calc(100% - 120px);
        margin: 0;
        margin-left: 70px;
        margin-right: 70px;
        justify-content: center;
    }

    .Step__icon > div i {
        transform:  rotate(-90deg);
    }

    .Step__icon > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

}