  .footer {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: block;
    border-top: 3px solid var(--secondary);
  }
  
  .footer__top{
    padding: 20px 3em;
    max-width: 1200px;
    background: var(--primary);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .footer__top__logo{
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
  }
  

  .flex_center_information{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
  }
  
  .footer__top__information{
    grid-column: span 1;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .footer__top__information p {
    font-weight: 400;
    font-size: 14px;
  }
  
  .footer__bottom{
    display: flex;
    width: 100%;
    background: var(--primary);
    color: var(--white);
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 12px;
    font-weight: 400;
  }

  .wrapper_logo {
    display: flex;
    justify-content: space-between;
  }

  .wrapper_information {
    background: var(--white);
    border-radius: 10px;
    display: flex;
    padding: 5px 20px;
    align-items: center;
    height: 55px;
    cursor: pointer;
  }

  @media (max-width: 501px){
    .footer__top{
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 40px;
      padding: 20px 2em;
    }
  
    .flex_center_information{
      width: 180px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: var(--white);
      font-size: 14px;
    }
  
    .footer__bottom{
      font-size: 12px;
      padding: 20px 2em;
    }

    .footer__top__logo img{
      width: 140px;
      height: 50px;
    }

    .footer__top__logo {
      display: grid;
      grid-template-columns: repeat(1,1fr);
      row-gap: 30px;
    }

    .footer__top__logo .wrapper_logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .footer__top__information {
      display: grid;
      grid-template-columns: repeat(1,1fr);
      row-gap: 20px;
    }

    .wrapper_information {
      background: var(--white);
      border-radius: 10px;
      display: flex;
      padding: 5px 20px;
      align-items: center;
      height: 55px;
      cursor: pointer;
    }
  }
  
  @media (min-width: 501px) and (max-width: 768px){
    .footer__top{
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 40px;
      padding: 20px 2em;
    }
  
    .flex_center_information{
      width: 180px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: var(--white);
      font-size: 14px;
    }
  
    .footer__bottom{
      font-size: 12px;
      padding: 20px 2em;
    }

    .footer__top__logo img{
      width: 140px;
      height: 50px;
    }

    .footer__top__logo {
      display: grid;
      grid-template-columns: repeat(1,1fr);
      row-gap: 30px;
    }

    .footer__top__logo .wrapper_logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .footer__top__information {
      display: flex;
      grid-template-columns: repeat(2,1fr);
      row-gap: 20px;
      column-gap: 30px;
    }

    .wrapper_information {
      background: var(--white);
      border-radius: 10px;
      display: flex;
      padding: 5px 20px;
      align-items: center;
      height: 55px;
      max-width: 250px;
      cursor: pointer;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px){
    .footer__top{
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 40px;
      padding: 20px 2em;
    }
  
    .flex_center_information{
      width: 200px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: var(--white);
      font-size: 12px;
    }

    .footer__top__information {
      display: flex;
      grid-template-columns: repeat(2,1fr);
      row-gap: 20px;
      column-gap: 30px;
    }
  
    .footer__bottom{
      font-size: 12px;
    }
  }
  