.Services {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
    background: #575756;
    padding-bottom: 70px;
}

.Services__container{
    height: 100%;
    max-width: 1200px;
}

.title{
    font-size: 36px;
    font-weight: bold;
    font-family: 'Helvetica';
    font-family: 'DIN Next LT Pro';
    font-weight: 700;
    color: var(--secondary);
    margin-top: 0;
}

.Cards__container{
    display: grid;
    row-gap: 60px;
    max-width: 780px;
    grid-template-columns: repeat(1,1fr);
}

.Services__footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Services__footer p {
    font-weight: 300;
    font-size: 14px;
    color: var(--white);
    margin: 0;
    max-width: 700px;
    padding-top: 70px;
}

@media (max-width: 768px){
    .Services{
        height: auto;
    }
    .Services__container{
        height: 100%;
    }

    .title {
        font-size: 28px;
    }

    .Cards__container{
        row-gap: 30px;
    }
}

  
@media (min-width: 769px) and (max-width: 1024px){
    .Services{
        height: auto;
    }

    .title {
        font-size: 28px;
    }

    .Services__container{
        height: 100%;
    }

    .Cards__container{
        row-gap: 30px;
    }

}