@font-face {
  font-family: 'DIN Next LT Pro';
  src: url('/fonts/DINNextLTPro-Light.ttf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url('/fonts/DINNextLTPro-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url('/fonts/DINNextLTPro-Medium.ttf');
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url('/fonts/DINNextLTPro-Bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'DIN Next LT Pro';
}

section {
  width: 100%;
}


:root{
  --white: #FFF;
  --white-smoke: #F8F8F8;
  --primary: #373737;
  --secondary: #FBBB21;
  --charcoal: #424242;
  --milano-red: #A03327;
  --ship-grey: #575756;
  --moon-yellow: #FBBB21;


  --border: #ECECEC;
  --border-field: #EDECEC;

  --success: #4BBE2F;
  --success-light: rgba(75, 190, 47, .1);
  --danger: #FF0000;
  --danger-light: rgba(255, 109, 105, .1);

  --spacer: 1.5rem;

  --placeholder: rgba(87, 87, 86, 0.5) ;
  
  --shadow: 2px 0 10px 0 rgba(0,0,0,0.11);
  --box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

  --background: #F8F8F8;
  --background-alt: #EFF2FF;
}


label{
  color: var(--ship-grey);
  font-size: 14px;
  font-weight: 500;
}

.mt-1{
  margin-top: calc(.25 * var(--spacer));
}
.mt-2{
  margin-top: calc(.5 * var(--spacer));
}
.mt-3{
  margin-top: var(--spacer);
}
.mt-4{
  margin-top: calc(1.5 * var(--spacer));
}

.mb-1{
  margin-bottom: calc(.25 * var(--spacer));
}
.mb-2{
  margin-bottom: calc(.5 * var(--spacer));
}
.mb-3{
  margin-bottom: var(--spacer);
}
.mb-4{
  margin-bottom: calc(1.5 * var(--spacer));
}

.ml-1{
  margin-left: calc(.25 * var(--spacer));
}
.ml-2{
  margin-left: calc(.5 * var(--spacer));
}
.ml-3{
  margin-left: var(--spacer);
}
.ml-4{
  margin-left: calc(1.5 * var(--spacer));
}

.mr-1{
  margin-right: calc(.25 * var(--spacer));
}
.mr-2{
  margin-right: calc(.5 * var(--spacer));
}
.mr-3{
  margin-right: var(--spacer);
}
.mr-4{
  margin-right: calc(1.5 * var(--spacer));
}

.p-0{
  padding: 0 !important;
}
.pt-1{
  padding-top: calc(.25 * var(--spacer));
}
.pt-2{
  padding-top: calc(.5 * var(--spacer));
}
.pt-3{
  padding-top: var(--spacer);
}
.pt-4{
  padding-top: calc(1.5 * var(--spacer));
}
.pb-0{
  padding-bottom: 0;
}
.pb-1{
  padding-bottom: calc(.25 * var(--spacer));
}
.pb-2{
  padding-bottom: calc(.5 * var(--spacer));
}
.pb-3{
  padding-bottom: var(--spacer);
}
.pb-4{
  padding-bottom: calc(1.5 * var(--spacer));
}
.pl-1{
  padding-left: calc(.25 * var(--spacer));
}
.pl-2{
  padding-left: calc(.5 * var(--spacer));
}
.pl-3{
  padding-left: var(--spacer);
}
.pl-4{
  padding-left: calc(1.5 * var(--spacer));
}
.pr-1{
  padding-right: calc(.25 * var(--spacer));
}
.pr-2{
  padding-right: calc(.5 * var(--spacer));
}
.pr-3{
  padding-right: var(--spacer);
}
.pr-4{
  padding-right: calc(1.5 * var(--spacer));
}



